<section class="footer">
    <div class="container section__padding">
        <div class="container__left">
            <div class="logo">
                <img src="https://erp.mediaalacarte.net/web/image/website/1/logo/Media%20Alacarte?unique=07bbf5d"
                    alt="Media Alacarte Logo" />
                <p class="tagline">The Future Media Hub</p>
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/company/medialacarte" aria-label="LinkedIn">
                    <img src="assets/images/footer/linkedin.png" alt="LinkedIn" />
                </a>
                <a href="https://twitter.com/medialacarte" aria-label="Twitter">
                    <img src="assets/images/footer/twitter.png" alt="Twitter">
                </a>
            </div>
        </div>

        <div class="container__right">
            <div class="links-wrapper">
                <h4>Useful Links</h4>
                <div class="links-columns">
                    <div class="useful-links">
                        <ul>
                            <li><a href="https://mediaalacarte.net/the-platform.html">The Platform</a></li>
                            <li><a href="https://mediaalacarte.net/features.html">Features</a></li>
                            <li><a href="https://mediaalacarte.net/benefits.html">Benefits</a></li>
                            <li><a href="https://mediaalacarte.net/request-demo.html">Request a Demo</a></li>
                        </ul>
                    </div>
                    <div class="contact-us">
                        <ul>
                            <li><a href="https://mediaalacarte.net/contact-us.html">Contact Us</a></li>
                            <li><a href="https://mediaalacarte.net/about-us.html">About Us</a></li>
                            <li><a href="https://mediaalacarte.net/privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="https://mediaalacarte.net/terms-of-service.html">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="address">
                <h4>Contact Us</h4>
                <div class="address-item"> <img src="assets/images/footer/pin.png" alt="Location">
                    <p>
                        Makateb 2 Building Floor 4, Office 406<br> Dubai Production City, Dubai<br> United Arab Emirates
                    </p>
                </div>
                <div class="address-item">
                    <a href="mailto:admin@mediaalacarte.net">
                        <img src="assets/images/footer/email.png" alt="Email" />
                        <p>admin.mediaalacarte.net</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="divider">
        <div class="container">
            <p class="copyright">© 2024 Media Alacarte. All rights reserved.</p>
        </div>
    </div>
</section>