@use '../abstracts/variables' as *;
@mixin flex($justifyContent: center, $alignItems: center) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin respond($breakpoint) {
    @if $breakpoint == laptop {
      @media (max-width: 1050px) {
        @content;
      }
    }
    @if $breakpoint == tablet {
      @media (max-width: 768px) {
        @content;
      }
    }
    @if $breakpoint == mobile {
      @media (max-width: 480px) {
        @content;
      }
    }
}  

@mixin respond-between($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin text-style(
  $font-size: 1.6rem,
  $font-weight: 400,
  $text-align:left,
  $color: $white-color,
  $line-height: 1.5,
  $letter-spacing: normal,
  $text-transform: none
) {
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: $text-align;
  color: $color;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
  font-family: $font-primary;
}
