@use '../abstracts/variables' as *;

//flex mixin
@mixin flex($justifyContent: center, $alignItems: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

//mixin for media queries with named param
@mixin respond($breakpoint) {
  @if $breakpoint ==laptop {
    @media (max-width: 1050px) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint ==mobile {
    @media (max-width: 480px) {
      @content;
    }
  }
}

//mixin for media queries with min and max width
@mixin respond-between($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}