<div class="hero section__padding">
  <div class="hero__top">
    <div class="hero__content">
      <p class="hero__subtitle">#1 MEDIA MARKETPLACE FOR ADVERTISERS & AGENCIES</p>
      <div class="hero__title">
        <h2 class="hero__title--secondary">Bigger Impact</h2>
        <h1 class="hero__title--primary">Stronger Campaigns</h1>
      </div>
      <p class="hero__description">Smarter Media Buying</p>
    </div>
  </div>

<div class="hero__bottom">
  <button class="hero__cta-button">  {{ isSmallScreen ? 'Start' : 'Start your journey!' }}</button>

  <picture>
    <source media="(max-width: 480px)" srcset="assets/images/hero/mobileHero3.png" />
    <source media="(max-width: 1050px)" srcset="assets/images/hero/tabletHero2.png" />
    <img
      src="assets/images/hero/laptopHero2.png"
      alt="Team celebrating success"
      class="hero__image"
    />
  </picture>

  <div class="hero__overlay">
    <button class="hero__learn-more">
      <img src="assets/images/hero/play.png" class="hero__learn-more-icon"/>
      {{ isMdScreen ? 'Learn' : 'Learn More' }}
    </button>
  </div>
</div>
</div>