<div class="hero section__padding">
  <div class="hero__top">
    <div class="hero__content">
      <p class="hero__subtitle">#1 MEDIA MARKETPLACE FOR ADVERTISERS & AGENCIES</p>
      <div class="hero__title">
        <h2 class="hero__title--secondary">Bigger Impact</h2>
        <h1 class="hero__title--primary">Stronger Campaigns</h1>
      </div>
      <p class="hero__description">Smarter Media Buying</p>
    </div>
  </div>

  <!-- <div class="hero__bottom">
  <button class="hero__cta-button">Start your journey!</button>

    <img
      src="assets/images/hero/hero.jpg"
      alt="Team celebrating success"
      class="hero__image"
    />
    <div class="hero__overlay">
      <button class="hero__learn-more">
        <span class="hero__learn-more-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="#ffffff">
            <path d="M8 5v14l11-7z" />
          </svg>
        </span>
        Learn More
      </button>
    </div>
  </div> -->

  <div class="hero__bottom">
  <button class="hero__cta-button">Start your journey!</button>

  <picture>
    <source media="(max-width: 480px)" srcset="assets/images/hero/mobileHero2.png" />
    <source media="(max-width: 1050px)" srcset="assets/images/hero/tabletHero.png" />
    <img
      src="assets/images/hero/laptopHero.png"
      alt="Team celebrating success"
      class="hero__image"
    />
  </picture>

  <div class="hero__overlay">
    <button class="hero__learn-more">
      <span class="hero__learn-more-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="#ffffff">
          <path d="M8 5v14l11-7z" />
        </svg>
      </span>
      Learn More
    </button>
  </div>
</div>
</div>