@use 'main' as *;

.hero {
  @include flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero__subtitle {
      @include text-style(1.6rem, 500, center, $gray-color);
      margin-bottom: 1.2rem;
    }

    .hero__title {
      @include flex;
      flex-direction: column;

      &--primary {
        @include text-style(4.8rem, 600, center, $white-color, 1.2);
        margin-bottom: 1rem;
      }

      &--secondary {
        @include text-style(3.2rem, 400, center, $pink-color);
        margin-bottom: 1rem;
      }
    }

    .hero__description {
      @include text-style(2.4rem, 500, center, $gray-color);
    }

    .hero__cta-button {
      @include primary-button;
    }
  }

  .hero__bottom {
    position: relative;
    width: 100%;
    max-width: 100rem;
    margin-top: 4rem;

    .hero__image {
      width: 100%;
      height: auto;
      border-radius: 2.4rem;
      object-fit: cover;
      display: block;
      opacity: 0.7;
    }

    .hero__cta-button {
      position: absolute;
      z-index: 2;
      padding: 1rem 2.4rem;
      @include primary-button;
      top: 0.5rem;
      left: 5rem;
      width: 28rem;
      height: 9rem;

      @include respond(laptop) {
        top: 1rem;
        left: 5.5rem;
        width: 25rem;
        height: 8rem;
      }

      @include respond-between(850px, 1049px) {
        top: 0.5rem;
        left: 4.5rem;
        width: 20rem;
        height: 7rem;
      }

      @include respond(tablet) {
        top: 1rem;
        left: 4rem;
        width: 18rem;
        height: 5.5rem;
      }

      @include respond-between(600px, 767px) {
        top: 0;
        left: 3rem;
        width: 13rem;
        height: 4.5rem;
        font-size: 1.2rem;
      }

      @include respond(mobile) {
        top: 0.2rem;
        left: 0.5rem;
        width: 11rem;
        height: 3rem;
        font-size: 1rem;
      }

      @include respond-between(420px, 479px) {
        left: 1.4rem;
        width: 9rem;
        height: 3rem;
        padding: 0.5rem 1rem;
      }

      @include respond-between(380px, 419px) {
        left: 1rem;
        width: 8rem;
        height: 2.5rem;
        padding: 0.5rem 1rem;
      }

      @include respond-between(290px, 379px) {
        left: 0;
        width: 6.5rem;
        height: 2rem;
        padding: 0.5rem 1rem;
        top: -0.2rem;
      }

    }

    .hero__overlay {
      position: absolute;
      z-index: 2;

      bottom: 0.5rem;
      right: 4rem;

      .hero__learn-more {
        @include secondary-button;
        display: flex;
        align-items: center;
        width: 19rem;
        height: 6rem;

        @include respond(laptop) {
          width: 16.5rem;
          height: 5.5rem;
        }

        @include respond-between(850px, 1049px) {
          width: 15rem;
          height: 5.5rem;
          right: 4rem;
        }

        @include respond(tablet) {
          width: 12rem;
          height: 4rem;
        }

        @include respond-between(600px, 767px) {
          width: 10.2rem;
          height: 2.8rem;
          right: 2rem;
          font-size: 1.2rem;
        }

        @include respond(mobile) {
          width: 7rem;
          height: 3.5rem;
          right: 1.5rem;
          bottom: 0;
          font-size: 0.8rem;
        }

        @include respond-between(421px, 479px) {
          width: 5.5rem;
          height: 1.8rem;
          right: 1rem;
          bottom: 0.3rem;
          padding: 0.3rem;
          font-size: 0.8rem;

        }

        @include respond-between(390px, 420px) {
          width: 5rem;
          height: 1.6rem;
          padding: 0.3rem;
          font-size: 0.8rem;
        }

        @include respond-between(350px, 389px) {
          width: 4.4rem;
          height: 1.6rem;
          padding: 0.3rem;
        }

        @include respond-between(320px, 349px) {
          width: 4rem;
          height: 1.4rem;
          padding: 0.3rem;
        }

        &-icon {
          width: 24px;
          height: 24px;
          margin-right: 12px;

          @include respond(tablet) {
            width: 18px;
            height: 18px;
          }

          @include respond(mobile) {
            width: 10px;
            height: 10px;
            margin-right: 4px;
          }
        }
      }

      @include respond-between(850px, 1049px) {
        right: 4rem;
      }

      @include respond(tablet) {
        right: 3rem;
      }

      @include respond-between(600px, 767px) {
        right: 2rem;
      }

      @include respond(mobile) {
        right: 1.8rem;
      }

      @include respond-between(390px, 430px) {
        right: 1.2rem;
        bottom: 0.3rem;
      }

      @include respond-between(350px, 389px) {
        right: 1rem;
        bottom: 0.1rem;
      }

      @include respond-between(320px, 349px) {
        right: 1rem;
        bottom: 0;
      }
    }
  }
}