<div class="services__banner">
  <img src="assets/images/services/band.png" alt="Services banner" class="services__banner-image" />
</div>
<section class="services section__padding">
  <div class="services__top">
    <img src="assets/images/services/setting.png" alt="icon" class="services__icon" />
    <h2 class="services__title">Our Services</h2>
  </div>
  <div class="services__cards">
    <div class="services__card" *ngFor="let card of services"
      [ngStyle]="{ 'background-image': 'url(' + card.image + ')' }">
      <div class="services__card__content">
        <div class="services__card__content--left">
          <h3 class="services__card__heading">{{ card.title }}</h3>
          <p class="services__card__description">{{ card.subtitle }}</p>
        </div>
        <div class="services__card__content--right">
          <a *ngIf="card.cta" [href]="card.cta" class="services__card__button">
            <img src="assets/images/hero/north-east.png" class="services__card__button-icon" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>