@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
    font-family: $font-primary;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $primary-color;
    
    @include respond(tablet) {
      font-size: 1.4rem;
    }    

  }